
.bg-gold {
  background-color: #D4AF37;
}


.transparent-table {
  background-color: transparent !important;

}

.transparent-table th,
.transparent-table td {
  background-color: transparent !important;
  color: #000000 !important; // Color del texto en negro
  font-weight: bold; // Texto en negrita
  font-size: larger;
}

