@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #ffffff ;

}



.custom-button {
  background-color: #6a1232 !important;
  color: white !important;
  border-color: #6a1232 !important;
}

.custom-button:hover{
  background-color: #4f0420;
}

.btn-primary {
  background-color: #1a1a1a;
  border-color: #1a1a1a;

}

.btn-primary:hover {
  background-color: #404040;
  border-color: #404040;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
